---
title: "stop"
weight: 11
---

[[template "banner"]]

# `kevin stop`

Stops a running `kevin run` for this project and environment, as Ctrl-C would, and waits for it to exit. Does nothing if kevin is not running.

```sh
kevin stop
```

See [`kevin run`]({{< relref "/docs/reference/commands/run" >}})'s
`--detach`/`-d` flag.
